<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>甜影强</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addCity()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <ion-card *ngFor="let homeModel of weathers">
    <ion-card-content (click)="gotoDetail(homeModel.weather)">
      <img src="{{homeModel.pic}}"/>
      <div class="card-title">{{homeModel.weather.city}}</div>
      <div class="card-subtitle">{{homeModel.weather.temperature}} {{homeModel.weather.weather}}</div>
    </ion-card-content>
  </ion-card>

</ion-content>
