.page-add-city{
	background-color: #EEEEEE;
}
.c_btn_register{
	width:50%;
	margin-left:25%;
}
.div_input{
	border: 1px solid #cccccc;
	margin-top: 20%;
	margin-left: 10px;
	margin-right: 10px;
}
.city-input{
	background-color: white;
}